* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  all: unset;
  text-decoration: none;
  outline: none;
}
a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}
input:focus {
  outline: none;
}
input[type="text"] {
  /* 상단은 input style 초기화 */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  width: 100%;
  padding-left: 2.5px;
  padding-bottom: 3px;
  font-size: 1.2rem;
  background-color: inherit;
  color: #ffffff;
  border-bottom: 0.5px solid #ffffff;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  height: 100vh;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.main {
  width: 85vw;
  max-width: 980px;
  position: relative;
  display: block;
  padding-top: 8vh;
  text-align: center;
}
.mainWrap {
  padding: 15px 25px;
}
.aside {
  color: #282c34;
  width: 15vw;
  max-width: 240px;
  background-color: #ffffff;
  margin: 0px 30px;
}

@media (max-width: 980px) {
  .aside {
    display: none;
  }
  .main {
    width: 100vw;
  }
}

.asideWrap {
  position: sticky;
  top: 8vh;
  display: flex;
  height: fit-content;
  flex-direction: column;
  flex-wrap: wrap;
}
.asideTitle {
  font-size: 1.2rem;
  font-weight: bolder;
  text-align: center;
  border: 2px solid rgba(70, 77, 82, 0.082);
  box-shadow: rgb(0 0 0 / 2%) -1px 1px 6px;
  border-radius: 16px;
}
.asideLinkWrap {
  margin-top: 35px;
  justify-content: flex-start;
  border: 2px solid rgba(70, 77, 82, 0.082);
  box-shadow: rgb(0 0 0 / 2%) -1px 1px 6px;
  border-radius: 16px;
}
.asideUlTitle {
  font-size: 1.2rem;
  font-weight: bolder;
  padding: 0.5rem 0.3rem;
  border-bottom: 1px solid rgba(70, 77, 82, 0.082);
}
.asideIlContetn {
  font-size: 1.1rem;
  font-weight: 400;
}
.asideIlContetn:hover {
  color: #007bff;
  background-color: #f0f0f0;
}
.asideLink {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  font-weight: 400;
}
.asideActive {
  color: #007bff;
  background-color: #f0f0f0;
}
