/* input box css 초기화 */
.talckPostWrap {
  position: relative;
  padding: 0 5vw;
  height: 82vh;
}
.talkActiveNm {
  font-weight: bolder;
  font-size: 1.5rem;
}
.talkMaskValueNmWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.talkMaskValueNm {
  display: inline-block;
  border: 2px solid #a8a921;
  border-radius: 26px;
  font-size: 0.8rem;
  margin-right: 0.5vw;
  width: 12vw;
  max-width: 75px;
  flex-grow: 0;
}
@media (max-width: 280px) {
  .talkMaskValueNm {
    font-size: 0.65rem;
  }
}
.active {
  background-color: #a8a921;
}
.talkPostSection {
  margin-top: 25px;
}
.TalkBottomWrap {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 100%;
  border-top: 1px solid #ffffff;
}
.TalkBottomWrap span {
  flex-basis: 30%;
}
.TalkBottomWrap div {
  flex-basis: 70%;
  text-align: right;
  padding-right: 8vw;
  color: #ffffff;
}
.TalkBottomWrap button {
  color: #ffffff;
}
